---
layout: base.njk
---
<article role="article">
  {% if title %}
    <header>
      <h1 id="page-title">{{ title }}</h1>
      {% if description %}
        <p>{{ description }}</p>
      {% endif %}
    </header>
  {% endif %}
  
  <section role="region" aria-labelledby="page-title">
    {{ content | safe }}
  </section>
</article>